@import './../../../styles/root';

.contentFlexBox {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.contentFlexBox div {
    min-width: 395px;
    flex: 1;
}

.serviceNotesBox-text {
    margin-top: auto;
    margin-bottom: auto;
}


.servicesHeaderh2 {
    color: var(--bark-blue, #194484);
    font-family: Harabara;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    text-align: center;

}

@media (max-width: 1024px) {
    .servicesHeaderh2, .servicesHeaderh3, .textContent{
        text-align: center;
    }
}

.servicesHeaderh3 {
    color: var(--medium-blue, #0D6EB7);
    font-family: Harabara;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.textContent {
    color: var(--dark-grey, #242424);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.serviceImage {
    width: 550px;
    height: 395px;
    background-position: center;
    background-repeat: no-repeat;
}