// colors 

$lightTextColor: #FFFFFF;
$darkTextColor: #242424;

$lightAccentColor: #00A4E8;
$darkAccentColor: #194484;

$accentNavHomeColor: #44C9FF;
$dropdownListHomeColor: #49C7FA;

$navColor: #0D6EB7;
$accentNavColor: #00A4E8;
$dropdownListAccentColor: #08A4E4;

$altHeroSectionAccent: #66D6A0;

$sectionHeaderColor: #194484; //h1 h2
$secondaryHeaderColor: #0D6EB7; //h3

$normalButton: #06B25F;
$hoverButton: rgba(6, 178, 95, 0.3);
$pressButton: rgba(6, 178, 95, 0.18);
$formButton: #2DA531;

$backgroundHeaderColor: rgba(33, 33, 33, 0.3);
$backgroundMainColor: #fff;

$hoverSvgFooter: #66D6A0;
$backgroundFooterColor: #194484;